M3W1_Daily Weather Email Report.json
{
  "name": "M3W1_Daily Weather Email Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "7ab030bd-fdda-4b1b-a37d-5f98db046d91",
      "name": "Every Day at 07:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "13.75"
            },
            {
              "name": "longitude",
              "value": "100.52"
            },
            {
              "name": "daily",
              "value": "temperature_2m_max,temperature_2m_min"
            },
            {
              "name": "timezone",
              "value": "Asia/Bangkok"
            }
          ]
        },
        "options": {}
      },
      "id": "594203f4-53a6-4040-b4e8-896dba84da1c",
      "name": "Fetch Weather Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "date",
              "value": "={{ $json.daily.time[0] }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "maxTemp",
              "value": "={{ $json.daily.temperature_2m_max[0] }}",
              "type": "number"
            },
            {
              "id": "3",
              "name": "minTemp",
              "value": "={{ $json.daily.temperature_2m_min[0] }}",
              "type": "number"
            },
            {
              "id": "4",
              "name": "avgTemp",
              "value": "={{ ($json.daily.temperature_2m_max[0] + $json.daily.temperature_2m_min[0]) / 2 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "246b7abd-38db-4750-9d5d-8dbad100bc82",
      "name": "Calculate Average Temperature",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "fromEmail": "Mirf.mv@gmail.com",
        "toEmail": "mirf.mv@gmail.com",
        "subject": "Weather Report",
        "emailFormat": "text",
        "text": "=ข้อมูลวันที่ {{ $json.date }}\nอุณหภูมิสูงสุด: {{ $json.maxTemp }}\nอุณหภูมิต่ำสุด: {{ $json.minTemp }}\nอุณหภูมิเฉลี่ย: {{ $json.avgTemp }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        896,
        304
      ],
      "id": "8645d0ed-c054-41cf-a5c8-ae8a7271088a",
      "name": "Send an Email",
      "webhookId": "c29d205b-4b12-4a50-923a-d9bdcef0f7f1",
      "credentials": {
        "smtp": {
          "id": "sC3lg41W9Vf4AU9G",
          "name": "t.samanchuen@gmail SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every Day at 07:00": {
      "main": [
        [
          {
            "node": "Fetch Weather Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Weather Data": {
      "main": [
        [
          {
            "node": "Calculate Average Temperature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Average Temperature": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "af494c0d-702e-4ef7-aae4-4d5acaedb086",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c064c168fd7bd400088e18637bfe84846541c53d2c31da7470712b2bb404eed"
  },
  "id": "Tdkt7AxCbjs7t38P",
  "tags": []
}