M5W1_SentimentAnalysis.json
{
  "name": "M5W1_SentimentAnalysis",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "186da531-35a5-4f43-bac1-96408107e11c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25599952-9afe-4b44-83d8-3f03fc7251e4",
              "name": "text",
              "value": "บริการดีมาก",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "2967f030-e459-405f-8c77-e78a2e3c360b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=คุณเป็นผู้เชี่ยวชาญวิเคราะห์ความคิดเห็นภาษาไทย วิเคราะห์ข้อความต่อไปนี้และตอบในรูปแบบ JSON: ตอบในรูปแบบ: {   \"sentiment\": \"positive\" | \"neutral\" | \"negative\",   \"score\": 1-10,   \"summary\": \"สรุปสั้นๆ\",   \"category\": \"หมวดหมู่ปัญหา\" }"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        416,
        0
      ],
      "id": "f998ee5c-67cd-493f-b72c-3e457f9bd56f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "1JQOXWqZpGQcckLH",
          "mode": "list",
          "cachedResultName": "sentiment",
          "cachedResultUrl": "/projects/aQSvjHIQwEwVCwCP/datatables/1JQOXWqZpGQcckLH"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sentiment": "={{ $json.output.sentiment }}",
            "text": "={{ $('Edit Fields').item.json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        752,
        0
      ],
      "id": "b628a3d2-88b8-46e3-b6ab-bfac6359b099",
      "name": "Insert row"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        416,
        192
      ],
      "id": "eb3d0582-d31d-4dc3-9518-3ac1f1e16f04",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "HgH4TWsvBrtZiqjE",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{ \n  \"sentiment\": \"positive\",\n  \"score\": 10,\n  \"summary\": \"สรุปสั้นๆ\",\n  \"category\": \"หมวดหมู่ปัญหา\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        192
      ],
      "id": "e78f67a5-c517-4633-9be0-f22796916087",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "51368c8e-3c0a-4072-a995-cb82f75c702f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c064c168fd7bd400088e18637bfe84846541c53d2c31da7470712b2bb404eed"
  },
  "id": "e0j8DndpeiCru9mR",
  "tags": []
}